.apt-list-detail {
	border: 1px solid black;
	padding: 10px 10px;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1100; /* Sit on top */
	left: 0;
	top: 0;
	margin: auto;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px 20px;
	
	border: 1px solid #888;
	/* Could be more or less, depending on screen size */
}